{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">

    <title>Photos Site</title>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{% static 'build/mycomponent.js'%}" type="application/ecmascript" ></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">



</head>
<body>

  <nav class="navbar is-light is-fixed">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <i class="fab fa-d-and-d"></i>
            <strong>API_TEST</strong>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div  class="navbar-menu">
        <div class="navbar-start">
           <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button" href="https://bitbucket.org/thembahank/api_test/src">
                  <span class="icon">
                    <i class="fab fa-bitbucket"></i>
                  </span>
                  <span>View Code</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
  </nav>

 <my-component></my-component>



</body>
 <script>

        var data = {{ data | safe }};
        var component = document.querySelector('my-component');
        component.tabledata = data;

</script>

</html>